:root{
    --color1: #f6f6f6;
    --color2: #7C99AC;
    --color3: #92A9BD;
    --color4: #D3DEDC;
    --color5: #BBBBBB;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    font-family:'Gantari', sans-serif;
}

header{
    display: grid;
    justify-content: center;
    justify-items: center;
    font-size: var(--lg);
    font-weight: bold;
    text-align: center;
    color: var(--color2);
}
main{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.Cuadrado{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: baseline;
    place-items: center;
    margin: 22px;
}
.Cuadrado h2{
    font-size: var(--md);
    margin-bottom: 16px;
}
.Cuadrado form{
    display: grid;
    width: 300px;
    margin: 8px;
    
}
.Cuadrado label{
    color: var(--color3);
    font-weight: bold;
    margin-bottom: 12px;
}
.Cuadrado input{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color1);
    font-weight: bold;
    margin-bottom: 12px;
}
#PeriCuadradro{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}
#AreaCuadrado{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.Triangulo{
      width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: baseline;
    place-items: center;
    margin: 22px;
}
.Triangulo h2{
    font-size: var(--md);
}
.Triangulo form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 300px;
    margin: 8px;
}
.Triangulo label{
    color: var(--color3);
    font-weight: bold;
}
.Triangulo input{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color1);
    font-weight: bold;
}
#PeriTriangulo{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}
#AreaTriangulo{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}
#alturaIso{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.Circulo{
    margin: 0 0 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Circulo h2{
    font-size: var(--md);
}
.Circulo form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 300px;
    margin: 8px;
}
.Circulo label{
    color: var(--color3);
    font-weight: bold;
}
.Circulo input{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color1);
    font-weight: bold;
}
#Circunferencia{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}
#AreaCirculo{
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--color4);
    color: var(--color1);
    margin: 8px;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 8px;
}